body{
    background-color:#FEC5E5;
}

hr{
 border-color:grey;
 border-style:none;
 border-top-style: dotted;
 border-width: 5px;
width: 5%;}
h1{
     color: #330000;
    } 
 h2{
    color:#400000;
}
 h3{
    color:#4d0000;
}
