body{
    background-color:#FEC5E5;
}

hr{
 border-color:grey;
 border-style:none;
 border-top-style: dotted;
 border-width: 5px;
width: 7%;}
h1{
     color: #001C6F;
    } 
 h2{
    color:#800000;
}
 h3{
    color:#330002;
}
